.vscode

AssemblyC/*.o
AssemblyC/test-01
AssemblyC/test-02
AssemblyC/test-03
AssemblyC/test-04

AssemblyC2/*.o
AssemblyC2/main

BaseNumCalc/output*.txt
BaseNumCalc/*.o
BaseNumCalc/calc

BinaryIO/output*.txt
BinaryIO/*.o
BinaryIO/readAndPrint

BitMask/output*.txt
BitMask/*.o
BitMask/bitwise

CustomStructs/output*.txt
CustomStructs/*.o
CustomStructs/inventory

DoublePtrs/output*.txt
DoublePtrs/*.o
DoublePtrs/p2p

LLInsertion/output*.txt
LLInsertion/*.o
LLInsertion/insertion

LLWordlist/output*.txt
LLWordlist/*.o
LLWordlist/wordlist

PreProcessSort/output*.txt
PreProcessSort/*.o
PreProcessSort/sortList

ProcessForking/homework2
ProcessForking/*.o
ProcessForking/name

Pthreads/find
Pthreads/find2
Pthreads/*.o
Pthreads/output*.txt

VarArgFunctions/*.o
VarArgFunctions/output*.o
VarArgFunctions/dprintf